@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --svg-area-bg: #4c99e0;
  --node-fill: #ffffff;
  --node-stroke-color: black;
  --node-stroke-width: 2px;
  --node-width: 120px;
  --node-height: 80px;
  --horizontal-gap: 300px;
  --vertical-gap: 100px;
  --highlighted: #da0b0b;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

button,
input {
  font-family: inherit;
}

table {
  overflow: scroll;
  border-collapse: collapse;
}

th {
  min-width: 200px;
  padding: 20px;
}
th,
td {
  text-align: center;
}
td {
  padding: 10px 0;
}

.task-table tr,
.marges-table tr {
  position: relative;
}

tr:hover .delete-row-btn {
  opacity: 1;
}
th {
  font-size: 1.5rem;
  font-weight: 900;
}

.task-table,
.marges-table {
  border: 1px solid black;
  position: fixed;
  text-align: center;
  background-color: whitesmoke;
  transition: transform 0.6s ease, opacity 0.6s ease;
}

.task-table {
  z-index: 80;
}

.task-table.hidden,
.marges-table.hidden {
  transform: translateY(300px);
  opacity: 0;
}

.marges-table td:nth-child(3),
.marges-table th:nth-child(3),
.task-table th:nth-child(2),
.marges-table th:nth-child(2),
.marges-table td:nth-child(2),
.task-table td:nth-child(2) {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.task-table th,
.marges-table th,
.marges-table td,
.task-table td {
  border-bottom: 1px solid black;
}

.task-table .inp {
  background: none;
  font-size: 1.2rem;
  max-width: 150px;
}

.btn {
  cursor: pointer;
}

.add-task-btn {
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: none;
  margin: 0 auto;
  color: white;
  border: 2px solid black;
  background-color: black;
  font-size: 1rem;
  font-weight: 900;
  transition: 0.3s ease;
}
.add-task-btn:hover,
.add-task-btn:focus {
  box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.8);
}

.render-graph-btn {
  padding: 10px 40px;
  font-weight: 600;
  font-size: 1.3rem;
  border: none;
  color: white;
  background-color: black;
  border-radius: 20px;
  z-index: 80;
}

.hide-table-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  font-weight: 900;
  padding: 5px;
  background-color: red;
  color: white;
  border: none;
}

.delete-row-btn {
  opacity: 0;
  position: absolute;
  top: 50%;
  right: -8px;
  background-color: red;
  outline: none;
  border: none;
  width: 25px;
  height: 25px;
  color: white;
  font-weight: 900;
  transform: translate(-50%, -50%);
}

.delete-row-btn:hover,
.delete-row-btn:focus {
  box-shadow: 0 0 15px -2px red;
  opacity: 1;
}

.inp {
  text-align: center;
  border: none;
  width: fit-content;
}

.svg-area {
  background: var(--svg-area-bg);
}

.node-rect {
  fill: var(--node-fill);
  stroke: var(--node-stroke-color);
  stroke-width: var(--node-stroke-width);
}

.node.critical .node-rect {
  fill: #ff1313;
}

.node.critical text {
  fill: white;
}

.edge.critical .edge-line {
  stroke: #ff1313;
}

.node-h-line,
.node-v-line {
  stroke: var(--node-stroke-color);
  stroke-width: var(--node-stroke-width);
}

.node-task-name,
.node-plus-tot,
.node-plus-tard {
  fill: black;
  font-size: 1.4rem;
  font-weight: 500;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 5rem;
  position: fixed;
  left: 50%;
  border-radius: 30px;
  transform: translate(-50%, -50%);
  bottom: 2rem;
  background-color: var(--bg-color);
  color: white;
  transform-origin: center;
  transition: 0.4s ease;
  animation: popup-appear 0.35s ease;
  box-shadow: 0 0 45px -5px black;
  z-index: 2500;
}

@keyframes popup-appear {
  from {
    transform: translate(-50%, 200%);
  }
}
.fade-out {
  transform: translate(-50%, 300%);
}

.popup-text {
  font-size: 1.4rem;
  font-weight: 600;
}

.node-rect {
  width: var(--node-width);
  height: var(--node-height);
}

.node-rect.highlighted {
  fill: var(--highlighted);
}
.edge-line.highlighted {
  stroke: var(--highlighted);
}

.edge-line {
  stroke-width: 3px;
  stroke: black;
  fill: black;
}

.special-btn {
  cursor: pointer;
  z-index: 90;
  padding: 10px 40px;
  margin: 20px;
  border: 1px solid var(--color);
  color: var(--color);
  background: none;
  font-size: 1.5rem;
  font-weight: 800;
  border-radius: 30px;
  transition: 0.3s ease;
}

.special-btn:hover {
  background-color: var(--hover-color);
}

.btns-container {
  position: fixed;
  bottom: 0;
  z-index: 99;
  flex: 1 0 auto;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #02040cf8;
  color: #4e51ff;
  width: 100%;
}
